<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wyh.dao.BlockOrderDao">
    <insert id="createOrder" parameterType="cn.wyh.entity.BlockOrder">
        insert into block_order values (
        #{orderId},
        #{createDate},
        #{validDate},
        #{noValidDate},
        #{number},
        #{spec},
        #{amount},
        #{time},
        #{userId},
        #{farmManagerId},
        #{batchNo},
        #{status},
        #{type}
        )
    </insert>

    <select id="loadOrderTabList" resultType="cn.wyh.dto.TabAllOrder">
        select order_id, `status`, a.spec, CONCAT(a.time,d.lease_unit) as time, a.number as num, amount as price, create_date as createTime,
        c.fm_title as farmName, c.fm_img as farmImg
        from block_order as a
        join farm_manager as b on a.farm_manager_id = b.fm_id
        join farm as c on b.fm_id = c.fm_id
        join block_rule d on a.batch_no = d.batch_no
        where user_id = #{userId}
        ORDER BY createTime desc
    </select>
</mapper>