<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wyh.dao.BlockOrderDao">
    <insert id="createOrder" parameterType="cn.wyh.entity.BlockOrder">
        insert into block_order values (
        #{orderId},
        #{createDate},
        #{validDate},
        #{noValidDate},
        #{number},
        #{spec},
        #{amount},
        #{time},
        #{userId},
        #{farmManagerId},
        #{batchNo},
        #{status},
        #{type},
        #{grade},
        #{comment}
        )
    </insert>

    <select id="loadOrderTabList" resultType="cn.wyh.dto.TabAllOrder">
        select order_id, `status`, a.spec, CONCAT(a.time,d.lease_unit) as time, a.number as num, amount as price, create_date as createTime,
        c.fm_title as farmName, c.fm_img as farmImg, a.valid_date as beginTime, a.no_valid_date as endTime
        from block_order as a
        join farm_manager as b on a.farm_manager_id = b.fm_id
        join farm as c on b.fm_id = c.fm_id
        join block_rule d on a.batch_no = d.batch_no
        where user_id = #{userId}
        <if test="status >= 0 and status != 1 and status !=5">
            and a.status = #{status}
        </if>
        <if test="status == -2">
            and a.no_valid_date &lt; NOW() and a.status = 1
        </if>
        <if test="status == 1">
            and a.no_valid_date &gt; NOW()
            and a.status in (1, 3)
        </if>
        ORDER BY createTime desc
    </select>

    <select id="loadOrderWeb" parameterType="cn.wyh.dto.BlockOrderWebDto" resultType="cn.wyh.dto.OrderWebResponseDto">
        select order_id, valid_date, no_valid_date, a.spec, a.number, a.type, a.grade, a.`comment`, a.`status`,
        CONCAT(a.time,c.lease_unit) as lease,
        b.user_name, b.user_phone from block_order a
        join user b on a.user_id = b.id
        join block_rule c on a.batch_no = c.batch_no
        where a.farm_manager_id = #{farmManagerId}
        <if test="status >= 0">
            and a.status = #{status}
        </if>
        <if test="status == -2">
            and a.no_valid_date &lt; NOW()
        </if>
        <if test="userPhone != null and userPhone != '' ">
            and b.user_phone = #{userPhone}
        </if>
        <if test="orderId != null and orderId != '' ">
            and a.order_id = #{orderId}
        </if>
        <if test="status == 1">
            and a.no_valid_date &gt; NOW()
        </if>
        order by a.create_date desc
        limit #{startIndex}, 5
    </select>

    <select id="getTotalWeb" parameterType="cn.wyh.dto.BlockOrderWebDto" resultType="int">
        select count(a.order_id) as total from block_order a
        join user b on a.user_id = b.id
        join block_rule c on a.batch_no = c.batch_no
        where a.farm_manager_id = #{farmManagerId}
        <if test="status >= 0">
            and a.status = #{status}
        </if>
        <if test="status == -2">
            and a.no_valid_date &lt; NOW()
        </if>
        <if test="userPhone != null and userPhone != '' ">
            and b.user_phone = #{userPhone}
        </if>
        <if test="orderId != null and orderId != '' ">
            and a.order_id = #{orderId}
        </if>
        <if test="status == 1">
            and a.no_valid_date &gt; NOW()
        </if>
        order by a.create_date desc
    </select>

    <select id="selectOrderByOrderId" resultType="cn.wyh.entity.BlockOrder">
        select * from block_order where order_id = #{orderId}
    </select>

    <update id="undateStatus">
        update block_order set status = #{status}
        where order_id = #{orderId}
    </update>

    <update id="undateComment">
        update block_order set grade = #{rating}, `comment` = #{comment}
        where order_id = #{orderId}
    </update>
</mapper>