<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wyh.dao.BlockRuleDao">
    <select id="selectBlockRuleList" parameterType="cn.wyh.dto.BlockSearch" resultType="cn.wyh.entity.BlockRule">
        select * from block_rule where farm_id = #{farmId}
        <if test="batchNo != null">
            and batch_no = #{batchNo}
        </if>
        <if test="type != 2">
            and type = #{type}
        </if>
        <if test="validityBegin != null">
            and validity_begin >= #{validityBegin}
        </if>
        <if test="validityEnd != null">
            and #{validityEnd} >= validity_end
        </if>
        limit #{startIndex}, 5
    </select>

    <select id="selectTotal" parameterType="cn.wyh.dto.BlockSearch" resultType="int">
        select count(*) as total from block_rule where farm_id = #{farmId}
        <if test="batchNo != null">
            and batch_no = #{batchNo}
        </if>
        <if test="type != 2">
            and type = #{type}
        </if>
        <if test="validityBegin != null">
            and validity_begin >= #{validityBegin}
        </if>
        <if test="validityEnd != null">
            and #{validityEnd} >= validity_end
        </if>
    </select>

    <insert id="createBlockRule" parameterType="cn.wyh.entity.BlockRule">
        insert into block_rule
        (
        farm_id, batch_no, area, spec, unit_price,
        `number`, `type`, description, lease_unit, max_lease,
        create_time, validity_begin, validity_end, update_time, proxy
        )
        values
        (
        #{farmId}, #{batchNo}, #{area}, #{spec}, #{unitPrice}, #{number},
        #{type}, #{description}, #{leaseUnit}, #{maxLease},
        #{createTime}, #{validityBegin}, #{validityEnd}, #{updateTime}, #{proxy}
        )
    </insert>
    <delete id="deleteBlockRule" parameterType="String">
        delete from block_rule where batch_no = #{branchNo}
    </delete>
    <select id="selectRuleListById" parameterType="String"
            resultType="cn.wyh.dto.BlockRuleShowList">
        select id, farm_id, batch_no, spec, unit_price,
        `number`, `type`, description, lease_unit, max_lease,
        create_time, validity_begin, validity_end, update_time,
        (select count(*) from block_detail as a where `status` = 1 and a.branch_no = b.batch_no) as has_lease
        from block_rule as b
        where farm_id = #{id} and NOW() BETWEEN validity_begin and validity_end
    </select>
    <select id="getMaxLease" parameterType="String" resultType="String">
        select distinct CONCAT(max_lease,'年') from block_rule where farm_id = #{id}
    </select>

    <select id="getSpec" parameterType="String" resultType="String">
        select DISTINCT (spec) from block_rule where farm_id = #{id}
    </select>

    <select id="getNumCan" parameterType="String" resultType="int">
        select count(id) from block_detail where branch_no = #{batchNo} and status = 0
    </select>

    <select id="selectBlockRuleByBatch" parameterType="String" resultType="cn.wyh.entity.BlockRule">
        select * from block_rule where batch_no = #{batchNo}
    </select>

    <select id="selectFarmManagerByBatchNo" parameterType="String" resultType="cn.wyh.entity.FarmManager">
        select a.* from farm_manager a
        join farm b on a.fm_id = b.fm_id
        join block_rule c on b.id = c.farm_id
        where c.batch_no = #{batchNo}
        limit 1
    </select>
</mapper>
