<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wyh.dao.FarmDao" >
    <select id="selectFarmById" parameterType="String" resultType="Farm">
        select * from farm where fm_id = #{fmId}
    </select>
    <select id="selectFarmForAppById" parameterType="String" resultType="Farm">
        select * from farm where id = #{id}
    </select>
    <insert id="addFarmBaseInfo">
        insert into farm (
        fm_id,
        fm_title,
        size,
        province,
        city,
        detailed_address,
        pos_lng,
        pos_lat,
        contact_name,
        contact_phone,
        key_vegetable,
        fm_introduce,
        business_begin,
        create_time
        ) values (
        #{farm.fmId},
        #{farm.fmTitle},
        #{farm.size},
        #{farm.province},
        #{farm.city},
        #{farm.detailedAddress},
        #{farm.posLng},
        #{farm.posLat},
        #{farm.contactName},
        #{farm.contactPhone},
        #{farm.keyVegetable},
        #{farm.fmIntroduce},
        #{farm.businessBegin},
        #{farm.createTime}
        )
    </insert>
    <update id="updateFarmInfo">
        update farm set
        fm_title = #{farm.fmTitle},
        size = #{farm.size},
        contact_name = #{farm.contactName},
        contact_phone = #{farm.contactPhone},
        key_vegetable = #{farm.keyVegetable},
        fm_introduce = #{farm.fmIntroduce},
        business_begin = #{farm.businessBegin},
        spec = #{farm.spec}
        where id = #{farm.id}
    </update>
    <update id="updateStatus">
        update farm set check_status = #{code} where id = #{id}
    </update>
    <update id="updateImg">
         update farm set fm_img = #{fmImg} where id = #{id}
    </update>
    <select id="selectFarmByPos" resultType="cn.wyh.dto.LateLySimplyFarm">
        select id, fm_id, fm_title, consumer_num,
        cus_distance_baidu(pos_lat, pos_lng, #{lat}, #{lng}) as distance,
        fm_img,
        spec
        from farm
        where check_status = 3
        order by distance asc
        limit 15
    </select>

    <select id="selectFarmListByCond" resultType="Farm">
        select * from farm where check_status = #{status}
        <if test="sid != null and sid != ''">
            and fm_id = #{sid}
        </if>
    </select>

    <select id="selectSFarmListByCity" resultType="cn.wyh.dto.LateLySimplyFarm" parameterType="String">
        select id, fm_id, fm_title, consumer_num,
        '0' as distance,
        fm_img,
        spec
        from farm
        where check_status = 3
        <if test="city != '不限'">
            and city = #{city}
        </if>
    </select>
    <select id="selectSFarmList2" resultType="cn.wyh.dto.LateLySimplyFarm" parameterType="String">
        select id, fm_id, fm_title, consumer_num,
        '0' as distance,
        fm_img,
        spec
        from farm
        where check_status = 3
        and fm_title like concat('%', #{query}, '%')
        <if test="city != '不限'">
            and city = #{city}
        </if>
    </select>
</mapper>